@charset "utf-8";
p, h1, h2, h3, ul, ol,body {
	margin: 0px;
	padding: 0px;
	font-family: "メイリオ", "ヒラギノ角ゴ3", sans-serif;
}
img{
	border:none;
	vertical-align:bottom;
}
#all {
	background-image: url(img/bg.jpg);
	background-repeat: repeat-y;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 10px;
	padding-left: 10px;
}
#header {
	background-image: url(img/bg-header.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-color: #D4677C;
	padding-top: 15px;
	padding-right: 30px;
	padding-bottom: 15px;
	padding-left: 30px;
	line-height: 1.5;
	color: #FFFFFF;
	font-size: 0.9em;
	overflow: hidden;
}
#header h1 {
	float: left;
	width: 200px;
}
#header p {
	text-align: right;
	float: right;
}
#gnav {
	width: 960px;
	list-style-type: none;
	padding-top: 10px;
	height: 50px;
}
#gnav li {
	float: left;
	width: 160px;
}
#main {
	clear: both;
	width: 960px;
}
#main .anchorbox {
	width: 740px;
	clear: both;
	padding: 20px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
}
#main .anchorbox h2 {
	color: #FF3366;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FF6699;
}

#main .anchor {
	float: left;
	width: 220px;
	text-align: center;
}
#main .waku {
	width: 740px;
	clear: both;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(img/waku-foot.jpg);
	background-color: #F3E4C7;
	background-repeat: no-repeat;
	background-position: center bottom;
	overflow: hidden;
	padding-bottom: 50px;
}
#main .waku h2 {
	color: #663300;
	background-image: url(img/waku-head.jpg);
	background-repeat: no-repeat;
	height: 40px;
	padding-right: 60px;
	padding-left: 60px;
	padding-top: 20px;
}
#main .waku p {
	line-height: 1.5em;
	padding-top: 10px;
	padding-right: 60px;
	padding-bottom: 10px;
	padding-left: 60px;
}
#main .waku ul {
	padding-right: 80px;
	padding-left: 80px;
}
#main .waku .icon {
	list-style-type: none;
	margin-top: 50px;
}
#main .waku .icon li {
	float: left;
	width: 48px;
	padding-right: 10px;
}
#main .waku .photo {
	width: 550px;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 50px;
}

#main .anchorlink {
	width: 500px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFFFFF;
}
#main .anchorlink p {
	padding-top: 50px;
	padding-bottom: 50px;
}
#main .gotop {
	text-align: right;
	padding-right: 15px;
}
#footer {
	background-color: #D4677C;
	font-size: 0.9em;
	color: #FFFFFF;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}
#footer p {
	padding-bottom: 30px;
}
html{
overflow-y:scroll;
}
