@charset "utf-8";

/*なんとなく、高さと幅の100％設定が腑に落ちんかったのでtest*/

.all{
    width: 100%;
    height: 100%;
/*
    width: 500px;
    height: 500px;
*/
    
/*https://ginpen.com/2011/07/01/height-100-parcent/*/
    
    margin: 0 auto;
    }

.test{
    width: 100%;/*要素内に合わせて*/
    height: 75%;
    background-color:aqua;
    }

.test p{
    text-align: center
    }