@charset "utf-8";

/*■■■■リセットCSSここから■■■■*/

/*memo "*"は 全要素。テーブルがずれる倍は"p,h1,h2,h3,ul,body"に変更、*/
p,h1,h2,h3,ul,body{
    margin: 0;
    padding: 0;
    }

img{
    vertical-align: bottom;
    border:none;
    }

/*memo "font-size: 94%;"*/
/*とは、デフォルト16px→今回のデザインカンプ15pxなので、16：15＝100：X→15÷16＝0.9375より。*/
/*フォントサイズは、ユーザーによってブラウザ表示の％が異なる為、（表示サイズ標準、大、小等）pxで指定すると、変動できない。初期値は％やem（X文字分）で求めた方がよい。*/
#all{
    font-size: 94%;
    line-height: 1.5;
    width:100%;
    }

/*■■■■ヘッダーここから■■■■*/

header{
    background-color: rgba(209,192,165,0.50);
    }

/*memo width: 995px;について*/
/*今回のデザインカンプ上では、幅は1000px。ただし、ロゴ配置のため、下でpaddingを記述したため、全体調整を行うため1000-5＝995pxになった。*/
header .inner {
    background-color: rgba(0,255,255,0.51);
    width: 995px;
    margin: 0 auto;
    padding: 10px 0 10px 5px;
    overflow: hidden;
    }

header h1{
    background-color: rgba(127,255,212,0.44);
    float: left;
    }

header .inner .text {
    background-color: rgba(0,0,255,0.50);
    float: right;
    padding-top: 1em;
    }

/*■■■■ナビゲーションここから■■■■*/

nav{
   background-image: url("img/bg-nav.jpg") ;
    background-repeat: repeat-x;
    height: 65px;
    }

nav ul{
    background-color: rgba(138,43,226,0.50);
    width: 1000px;
    margin: 0 auto;
    padding-top: 8px;
    list-style-type: none;
    overflow: hidden;
    }

nav li{
    float: left;
    margin-right: 10px;
    }

/*memo*/
/*今回 navの幅は1000pxと決まっている。また各ボタンの合計は、（50+180×5）950px。"nav ul"にて右側10px×6と入れたため、合計1010pxとオーバーしてしまったため、liタグの最後にクラスを振り分け、また、右側のmarginを打ち消すことでサイズ調整を図った。*/
nav li.last{
    margin-right: 0;
    }

/* ■■■■メイン（主にTOP画像と共通画像）ここから*/

main{
    display: block;
    background-color: rgba(119,74,14,0.54);
    width: 1000px;
    margin: 0 auto;
    padding-top: 20px;
    }
/*memo*/
/*"display: block;"*/
/*上記の""内をコメントアウト後、IEブラウザで確認すると、中央ぞろえのCSSが効いていない状態となる。*/
/*IEは　mainなどHTMLのブロック要素をインライン要素ととらえる特殊な構造のため、""を別途記述しブロック要素へ変更する。*/

main h2{
    background-color: rgba(127,255,0,0.44);
    padding-top: 30px;
    margin-left: -9px;
    clear:both;
    }
/*memo*/
/*"margin-left: -9px;"*/
/*ネガティブマージン ↑と←については、押し出す効果があるが、→と↓については、【要素を引き上げる】効果がある。試しに上記を"margin-bottom:-50px;"にすると面白い。*/

/*"cler:both;"*/
/*回り込み回避のテクニック*/
/*main div boxのお米のメニューを複製すると良さがでる！！*/

main section{
    clear:both;
    }

/* ■■■■セクション メニュー.ボックス　ここから*/

.menu .box{
    background-color: rgba(255,127,80,0.50);
    background-image: url("img/bg-waku02.jpg");
    background-repeat: repeat-y;
    text-align: center;
    width: 300px;
    margin: 5px 50px 12px 0;
    float: left;
    }
/*memo*/
/*"width: 300px; margin: 5px 50px 12px 0; float: left;"*/
/* （300px+50pc)×3＝1050pxのため、幅1000pxを飛び出してしまう。そこで、3つめのmargin 50pxを無効化する。*/

.menu .box:nth-of-type(3n){
    margin-right: 0;
    }
/*memo*/
/* "3n"の"n" */
/*3の"倍数"という指定ができる*/

.menu .box h3{
    height: 48px;
    padding: 30px 15px 0;
    background-image: url("img/bg-waku01.jpg");
    background-repeat: no-repeat;
    background-color: rgba(210,105,30,0.48);
    text-align:left;
    }

.menu .box .text{
    text-align: left;
    padding: 10px 15px 5px;
    }

.menu .box:after{
    display: block;
    font-size: 0;
    content: url("img/bg-waku03.jpg");
    }

/* ■■■■セクション ライス.ボックス　ここから*/
.rice .inner{
    background-color: #cce198;
    padding: 10px;
    margin: 14px 50px;
    border: 1px solid #fff;
    box-shadow: 10px 10px 2px 0px #ccc;
    overflow: hidden;
    position: relative;
    }
/*memo*/
/*"box-shadow:"にはベンダーキットが入る場合がある。ブラウザごとに異なるが新しく作る分には不要。*/

.rice .inner .photo{
    background-color: rgba(184,134,11,0.25);
    float: left;
    }

.rice .inner .text{
    margin: 0 0 75px 260px;
    }

.rice .inner .text p{
    padding-bottom: 10px;
    }

.rice .inner .btn{
    position: absolute;
    right: 10px;
    bottom: 0;
    }

/* ■■■■セクション アレンジ　ここから*/

.arrnge .inner{
    background-color: #fbedd7;
    margin: 23px 0 14px;
    padding: 50px;
    overflow: hidden;
    }

.arrnge .inner img{
    border-radius: 50%;
    }

.arrnge .inner p{
    padding: 10px;
    float: left;
    }

/* ■■■■セクション サイド　ここから*/

.side table{
    width: 900px;
    margin: 24px auto 14px;
    }

.side th, .side td{
    color: #63906;
    padding: 10px;
    }
/* ■■■■ああああ　ここから*/
/* ■■■■ああああ　ここから*/
/* ■■■■ああああ　ここから*/