@charset "utf-8";

body{
    width: 380px;
    text-align: center;
    margin: 0 auto;
    background-color: aqua;
}

.contents{
    width: 360px;
    text-align: center;
    margin: 0 auto;
    background-color:bisque;
}

.box{
    background: url("img/waku-middle.gif")repeat-y;
    width: 340px;
    background-color: aliceblue;
}

.box h2 , p{
    margin: 0;
    padding: 0;
}
/*ショートハンドの0px時は"px"は省略OK*/
/* 何がスペースを空けるかを考える。今回最新のブラウザ上では、paddingは必要ない。但し古いブラウザ用に設定 */

.box h2{
    background: url("img/waku-head.gif")no-repeat;
    padding: 125px 50px 10px;
    width: 240px;
}
/* ショートハンド ↑→↓←の順。今回は50は左右。    */

.box p{
    padding: 0px 50px 10px;
    text-align:left;
}
/*.box p のスペース（余白）については、位置のみの指定のため（背景等がない。）marginでも使用可能。*/

.box p.more{
    background: url("img/waku-foot.gif")no-repeat;
    text-align:right;
    background-position:bottom;
    padding-bottom: 100px;

}
